<!DOCTYPE html>
    <header>
    <meta charset="utf-8">
        <title>个人信息系统</title>
        <style>
            .wrap {
                margin-top: 150px;
            }
            .tip {
                width: 400px;
                height: 100px;
                line-height: 100px;
                margin: 0 auto;
                border: 1px solid #d0d0d0;
                text-align: center;
            }
        </style>
    </header>
    <body>
        <!-- <form class="wrap" action="login" method="post"> -->
        <div class="wrap">
            <div class="tip">您尚未登录，<span id="sec">13</span>秒后跳转到登录页面</div>
        </div>
        <!-- </form> -->
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                var sec = 12;
                var timer = setInterval(function () {
                    $('#sec').html(sec);
                    sec--;
                    if (sec < 0) {
                        clearInterval(timer);
                        location.href = 'login.html';
                    }
                }, 1000)
            })
        </script>
    </body>
</html>
